<ul class="nav nav-tabs">
  <% environment["tabs-#{@name}"].each_with_index do |(key, value), index| %>
    <li class="nav-item">
      <a class="nav-link <%= index == 0 ? 'active' : '' %>"  data-bs-toggle="tab" href="#tabs-<%=@name.delete(' ')%>-<%=key.delete(' ')%>">
        <%= value[:title] %>
      </a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% environment["tabs-#{@name}"].each_with_index do |(key, value), index| %>
    <div class="tab-pane <%= index == 0 ? 'show active' : '' %>" id="tabs-<%=@name.delete(' ')%>-<%=key.delete(' ')%>">
      <%= value[:content] %>
     </div>
  <% end %>
</div>
